/* Main Form Style */

#empty {
  height: 150px;
}

#myForm {
  text-align: center;
  width: 500px;
  margin: auto;
}

#error {
  font-size: 15px;
  line-height: 35px;
  background-color: rgb(255, 119, 119);
  opacity: 90%;
  height: 35px;
  border-radius: 0.1em;
  text-align: left;
  padding-left: 10px;
  visibility: hidden;
}

#nameOne,
#nameTwo {
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 30px;
}

.heart_icon {
  font-size: 30px;
  padding: 0 10px;
}

/* Calculate Love % */

#count {
  width: 150px;
  height: 30px;
  font-size: 15px;
  margin-top: 30px;
  background-color: whitesmoke;
}

#count:hover {
  background-color: pink;
  transition-duration: 0.3s;
}

#number {
  font-size: 60px;
  color: red;
  padding-top: 30px;
}
