#yourName {
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 100px;
}

#otherName {
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 100px;
}

#count {
  width: 150px;
  height: 30px;
  font-size: 15px;
  margin-top: 30px;
  background-color: whitesmoke;
}

#count:hover {
  background-color: pink;
  transition-duration: 0.3s;
}

.heart_icon {
  font-size: 30px;
  padding: 0 10px;
}

#number {
  font-size: 60px;
  color: red;
  padding-top: 30px;
}

#myForm {
  text-align: center;
}

#error {
  text-align: center;
  font-size: 20px;
  margin-top: 150px;
  color: red;
}
