input[type="button"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

#yourName {
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 200px;
}

#otherName {
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-top: 200px;
}

#count {
  width: 150px;
  height: 30px;
  font-size: 15px;
  margin-top: 20px;
}

#count:hover {
  background-color: pink;
  transition-duration: 0.3s;
}

.heart_icon {
  font-size: 30px;
  padding: 0 10px;
}
